/* added as recommended*/
html{
	height: 100%;
}
body {
  padding-top: 70px;
  height: 100%;
}

.wrapper{
	min-height: 100%;
	position : relative;
}

.content{
	padding-bottom: 60px; /*height of footer*/
}

.footer{
	position: absolute;
	bottom: 15px;
	height: 60px;
	margin: 0;
}

.tableImg{
	width:100px;
	height: 100px;
}

.imgAdmin{
	width:50px;
	height: 50px;
}
.help-block{
	color : #ff0000;
}

/*Toggle Switch code*/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius : 30px;
  transition: .5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  border-radius : 50%;
  transition: .5s;
}

input:checked + .slider {
  background-color: #1863E6;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* / added as recommended*/

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}